<div id="new-waifu">
  <v-row>
    <v-col cols="6">
      <v-card class="mx-auto my-12" elevation="2">
        <v-card-title>
          Add franchise
        </v-card-title>
        <form action="/add-franchise" method="POST">
          <v-card-text>
            <v-text-field
              label="Name"
              name="name"
              required
            ></v-text-field>
            <v-text-field
              label="Nickname"
              name="nickname"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn block color="primary" type="submit">Save</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-col>

    <v-col cols="6">
      <v-card class="mx-auto my-12" elevation="2">
        <v-card-title>
          Search franchise
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="Name or nickname"
            v-model="searchFranchiseName"
          ></v-text-field>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</div>