<div>
  {{#each waifus}}
    <v-card
      max-width="200"
      elevation="5"
    >
      <v-img
        max-width="200"
        src="{{this.imageURL}}"
      ></v-img>
      <v-card-text>
        name: {{this.name}}
        <br>
        franchise: {{this.franchise.name}}
      </v-card-text>
    </v-card>
  {{/each}}
</div>