
<div id="login-form">
  <v-card class="mx-auto my-12" elevation="2" max-width="400">
    <v-card-text>
      <v-text-field
        label="user"
        v-model="user"
      ></v-text-field>
    </v-card-text>
  </v-card>
</div>
